@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:900|Nunito:200');

body,html{
  background-color: #121212;
  text-align: center;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
h1{
  color: white;
  font-family: 'Nunito', sans-serif;
  color: #afcadb;
  font-size: 38px;
  margin: 10px 10px 0 10px;
}
h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
p{
  color: #afcadb;
  margin: 0 5px 5px 5px;
  font-family: 'Open Sans', sans-serif;
}
.uri{
  display: block;
  margin: auto;
  width: 80vw;
  max-width: 450px;
}
.options{
  text-align: left;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px auto 10px auto;
}
.options p{
  display: inline;
}
.start-button{
  display: block;
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgba(0,0,0,0);
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 10px;
  border: solid 2px white;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 25px auto 10px auto;
  max-width: 300px;
  outline: none;
}
.start-button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}
.important-info{
  margin-top: 30px;
}
.branding{
  margin: 20px 10px 30px 10px;
}
.credit{
  margin: 50px 10px 20px 10px;
}
.link{
  width: 30px;
}
